@import 'tailwindcss';

body{
    overflow-x: hidden;
    color: white;
    background: #010101;
}

.line-1, .line-2 {
  display: block;
  transform-origin: center;
}

h1, h2, .heading {
  font-family: 'Bebas Neue', sans-serif;
}

body, p, span {
  font-family: 'Nunito', sans-serif;
}
/* yellow glow for logo div */
.glow{
  box-shadow: 0 0 10px 2px rgba(255, 223, 0, 0.7);
}